*

!.gitignore

!.fzf.zsh
!.gdbinit
!.ghci
!.p10k.zsh
!.xbindkeysrc
!.xinitrc
!.xmodmap
!.zprofile
!.zshrc
!.zshenv
!.tmux.conf
!.inputrc
!.haskeline
!.passwords.gpg
!.Xresources
!.newsboat/
!.newsboat/urls
!.newsboat/config
!scripts/
!scripts/**
!Wallpapers
!Wallpapers/**

!.config/
!.config/mimeapps.list

!.config/dunst/
!.config/dunst/**
!.config/mutt/
!.config/mutt/**
!.config/nvim/
!.config/nvim/**
!.config/dunst/
!.config/dunst/**
!.config/rofi/
!.config/rofi/**
!.config/user_snippets
!.config/user_snippets/**
